/* .completada{
    text-decoration: line-through;
    color: lightgray;
}
.pendientes{
    color: green;
}
.emojis{
    font-size: 1.5rem;
} */

/* .menu{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.menu li{
    margin-right: 20px;
}
.menu-izquierda{
    justify-content: flex-start;
}
.menu-derecha{
    justify-content: flex-end;
}
.menu-espaciado{
    justify-content: space-between;
} */

/* .negativo{
    color: red;
} */

/* table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
th,td{
    padding: 12px;
    text-align: center;
    border: 1px solid #dddd;
}
th{
    background-color: #af4c87;
    color: white;
    font-weight: bold;
} */

/* #recuadros{
    display: flex;
    justify-content: space-evenly;
} 
.cuadrado{
    width: 100px;
    height: 100px;
    margin: 3px;
    cursor: pointer;
    border: 2px solid black;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
} */

.publicidad{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}